/* THE schedule TOP BAR AND MAIN BODY CONTAINER STYLES */
.referal-item-container {
  background-color: white;
  height: 100%;
}

.referal-item-inner-container {
  padding: 70px 30px 10px 30px;
  background-color: white;
}

.referal-top-center{
  display: flex;
}

.referal-center-button{
  margin: 0px 5px;
  background-color: transparent !important;
  color: white !important;
}

.referal-item-top-container {
  display: flex;
  background-color: #043f60;
  color: white;
  padding: 16px 25px;
  align-items: center;
  justify-content: space-between;
}

.registration-date-container {
  color: whitesmoke;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.month-and-year-container {
  font-weight: 500;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-day-text {
  font-size: 35px;
  font-weight: 500;
}

.date-time-container {
  margin-left: 40px;
}

.date-time-container {
  font-size: 24px;
}

.date-day-container {
  padding-top: 5px;
}


/* register schedule BODY STYLES */
/* SEARCH referal BODY STYLES */
.referal-item-body, referal-item-body-inner, table{
  min-width: 100%;
}


.referal-item-body{
  margin-top: 35px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 15px 0px;
}

table{
  width: 100%;
}

table th, table td{
  color: #043f60;
  background-color: white;
  border-bottom: 0.2px solid rgb(194, 194, 194);
}


.status-style-wrapper{
  display: flex;
  max-width: 50px;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  margin: 6px 0px !important;
  background-color: #043f60;
  color: white;
  border-radius: 15px;
}

.register-referal-body, .register-referal-body-inner {
  width: 100%;
}

.register-referal-body {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 35px;
  background-color: white;
  padding: 10px 0px;
  color: #043f60;
}

.referal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  color: #043f60;
}

.own-transportation{
  display: flex;
  align-items: center;
  padding-left: 10px;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #043f40;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #1182c4;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: rgb(187, 187, 187);
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: rgb(187, 187, 187);
}

.patient-referal-details{
  margin-right: 0px !important;
}

.referal-form fieldset{
  margin-right: 40px;
}

.gender-form-control{
  max-width: 70px;
  color: #043f60 !important;
}

.gender-option.mat-selected{
  color: #043f60 !important;
}

.gender-option{
  background-color: white;
  color: #043f60;
}

::ng-deep .mat-select-value {
  color: #043f60 !important;
}

.gender-option:hover{
  background-color: #043f60;
  color: white;
}

::ng-deep .example-full-width{
  min-width: 300px !important;
  margin: 0px 12px;

  .mat-input-element {
    color: #043f60 !important;
  }

  .mat-form-field-label {
    color: #043f60 !important;
  }

  .mat-form-field-underline {
    background-color: #043f60 !important;
  }

  .mat-form-field-ripple {
    background-color: #043f40 !important;
  }

  .mat-form-field-required-marker {
    color: #043f40 !important;
  }

  .referals-table, .referals-table table {
    min-width: 1500px !important;
  }
}

.fieldset-controls-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 4px 50px;
}

.register-referal-action-button {
  margin: 0px 5px;
}

legend {
  display: grid;
  color: rgb(163, 163, 163);
  grid-template-columns: auto 2fr 1fr;
  align-items: center;
}

.form-icon{
  margin-right: 10px;
}

::ng-deep .mat-list, ::ng-deep .mat-list-item{
  color: #043f60 !important;
}

.attach-report-actions{
  display: flex;
  color: #043f60;
}

.attach-report-actions button{
  margin: 0px 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


