<div class="search-appointments-container">
  <div class="appointments-container-inner-row">
    <div class="search-appointment-top-container">
      <div class="search-area-controls-container">
        <div class="search-top-left">
          <div class="search-controls">
            <mat-form-field class="search-appointment search-input-control">
              <mat-label>Search appointment</mat-label>
              <input matInput placeholder="Search appointment">
            </mat-form-field>
            <button mat-icon-button aria-label="Click to search appointment">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
        <div class="search-top-center">
          <button mat-icon-button aria-label="Click to search appointment">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Filter by critical</button>
            <button mat-menu-item>Filter by admitted</button>
            <button mat-menu-item>Filter by recently added</button>
            <button mat-menu-item>Filter by recent appointments</button>
          </mat-menu>
          <button mat-icon-button aria-label="Click to search appointment">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button aria-label="Click to search appointment">
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <button mat-icon-button aria-label="Click to search appointment">
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button mat-icon-button aria-label="Click to search appointment">
            <mat-icon>settings_applications</mat-icon>
          </button>
        </div>
      </div>
      <div class="search-top-right">
        <button class="search-appointment-action-button" matTooltip="Create a new schedule" mat-stroked-button><mat-icon
            class="bottom-icon">timeline</mat-icon>&nbsp; Appointments reports</button>
      </div>
    </div>
    <div class="search-appointment-body">
      <div class="search-appointment-body-inner">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="appointmentDate">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.appointmentDate}} </td>
          </ng-container>
          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef> Patient </th>
            <td mat-cell *matCellDef="let element"> {{element.patient}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element">
              <div class="status-style-wrapper">
                {{element.status}}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="View appointment" class="appointments-table-button">
                <mat-icon>info</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Delete appointment" class="appointments-table-button" aria-label="Click to search appointment">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Reschedule appointment" class="appointments-table-button" aria-label="Click to search appointment">
                <mat-icon>trending_up</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

