/* THE schedule TOP BAR AND MAIN BODY CONTAINER STYLES */
.register-schedule-container {
  background-color: white;
  height: 100%;
}

.register-schedule-inner-container {
  padding: 70px 30px 10px 30px;
  background-color: white;
}

.register-schedule-top-container {
  display: flex;
  background-color: #043f60;
  color: white;
  padding: 16px 25px;
  align-items: center;
  justify-content: space-between;
}

.registration-date-container {
  color: whitesmoke;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.month-and-year-container {
  font-weight: 500;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-day-text {
  font-size: 35px;
  font-weight: 500;
}

.date-time-container {
  margin-left: 40px;
}

.date-time-container {
  font-size: 24px;
}

.date-day-container {
  padding-top: 5px;
}


/* register schedule BODY STYLES */
.register-schedule-body, register-schedule-body-inner {
  width: 100%;
}

.register-schedule-body {
  margin-top: 35px;
  background-color: white;
  padding: 10px 0px;
  color: #043f60;
}

.fieldset-controls-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 4px 50px;
}

.register-schedule-action-button {
  margin: 0px 5px;
}

legend {
  display: grid;
  color: rgb(163, 163, 163);
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

::ng-deep .mat-hint, ::ng-deep .mat-datepicker-toggle{
  color: #043f60;
}

.dob-form-control{
  max-width: 50px;
}

::ng-deep .mat-form-field-infix{
  display: flex !important;
  align-items: center !important;
}

::ng-deep .mat-datepicker-input
{
  color: #043f60 !important;
}

/* Schedule container styles */
.schedule-container{
  margin: 5px;
}

.schedule-inner-row{
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.appointment-items-container{
  min-width: 350px;
  height: 600px;
}

.items-container-title{
  padding: 12px 18px;
  background-color: rgb(184, 184, 184);
}

.items-container-body{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.container-title-text{
  text-align: center;
}


