<div class="search-room-container">
  <div class="search-room-inner-container">
    <div class="search-room-top-container">
      <div class="search-area-controls-container">
        <div class="search-top-left">
          <div class="search-controls">
            <mat-form-field class="search-room search-input-control">
              <mat-label>Search room</mat-label>
              <input matInput placeholder="Search room">
            </mat-form-field>
            <button mat-icon-button aria-label="Click to search room">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
        <div class="search-top-center">
          <button mat-icon-button aria-label="Click to search room">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Filter by critical</button>
            <button mat-menu-item>Filter by admitted</button>
            <button mat-menu-item>Filter by recently added</button>
            <button mat-menu-item>Filter by recent appointments</button>
          </mat-menu>
          <button mat-icon-button aria-label="Click to search room">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button aria-label="Click to search room">
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <button mat-icon-button aria-label="Click to search room">
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button mat-icon-button aria-label="Click to search room">
            <mat-icon>settings_applications</mat-icon>
          </button>
        </div>
      </div>
      <div class="search-top-right">
        <button class="search-room-action-button" matTooltip="room Reports" mat-stroked-button><mat-icon
            class="bottom-icon">timeline</mat-icon>&nbsp; rooms reports</button>
      </div>
    </div>
    <div class="search-room-body">
      <div class="search-room-body-inner">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>
          <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef> D.O.B </th>
            <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> National Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="last_checkup">
            <th mat-header-cell *matHeaderCellDef> Last Checkup</th>
            <td mat-cell *matCellDef="let element"> {{element.last_checkup}} </td>
          </ng-container>
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight</th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
          <ng-container matColumnDef="disease">
            <th mat-header-cell *matHeaderCellDef> Disease</th>
            <td mat-cell *matCellDef="let element"> {{element.disease}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Registration Date</th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element">
              <div class="status-style-wrapper">
                {{element.status}}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="Click to search room">
                <mat-icon>info</mat-icon>
              </button>
              <button mat-icon-button aria-label="Click to search room">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button aria-label="Click to search room">
                <mat-icon>trending_up</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>


