<div class="dash-card-container">
  <div class="dash-card-row">
    <div class="dash-main-card">
      <div class="side-color default-color">
      </div>
      <div class="dash-card-content">
        <div class="left-content-container">
          <span class="left-content-value">
            12
          </span>
          <span class="left-content-title">
            NEW PATIENTS
          </span>
        </div>
        <div class="right-content-container">
          <mat-icon class="mat-icon-size text-color-default">attach_money</mat-icon>
        </div>
      </div>
    </div>
    <div class="dash-main-card">
      <div class="side-color color-red">
      </div>
      <div class="dash-card-content">
        <div class="left-content-container">
          <span class="left-content-value">
            12
          </span>
          <span class="left-content-title">
            NEW PATIENTS
          </span>
        </div>
        <div class="right-content-container">
          <mat-icon class="mat-icon-size text-color-red">attach_money</mat-icon>
        </div>
      </div>
    </div>
    <div class="dash-main-card">
      <div class="side-color color-orange">
      </div>
      <div class="dash-card-content">
        <div class="left-content-container">
          <span class="left-content-value">
            12
          </span>
          <span class="left-content-title">
            NEW PATIENTS
          </span>
        </div>
        <div class="right-content-container">
          <mat-icon class="mat-icon-size text-color-orange">attach_money</mat-icon>
        </div>
      </div>
    </div>
    <div class="dash-main-card">
      <div class="side-color color-blue">
      </div>
      <div class="dash-card-content">
        <div class="left-content-container">
          <span class="left-content-value">
            12
          </span>
          <span class="left-content-title">
            NEW PATIENTS
          </span>
        </div>
        <div class="right-content-container">
          <mat-icon class="mat-icon-size text-color-blue">attach_money</mat-icon>
        </div>
      </div>
    </div>
    <div class="dash-main-card">
      <div class="side-color color-purple">
      </div>
      <div class="dash-card-content">
        <div class="left-content-container">
          <span class="left-content-value">
            12
          </span>
          <span class="left-content-title">
            NEW PATIENTS
          </span>
        </div>
        <div class="right-content-container">
          <mat-icon class="mat-icon-size text-color-purple">attach_money</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
