/* THE referal TOP BAR AND MAIN BODY CONTAINER STYLES */
.search-referal-container{
  background-color: white;
   height: 100%;
 }

 .search-referal-inner-container{
   padding: 70px 30px 10px 30px;
   background-color: white;
 }

 .search-top-left{
   display: flex;
   align-items: center;
 }

 .search-referal-top-container{
   display: flex;
   background-color: #043f60;
   color: white;
   padding: 8px 25px;
   align-items: center;
   justify-content: space-between;
 }

 ::ng-deep .search-input-control {
   min-width: 350px !important;
   margin: 0px 12px;
   color: white !important;

   .mat-input-element {
     color: white !important;
   }

   .mat-form-field-label {
     color: white !important;
   }

   .mat-form-field-underline {
     background-color: white !important;
   }

   .mat-form-field-ripple {
     background-color: white !important;
   }

   .mat-form-field-required-marker {
     color: white !important;
   }

   .referals-table, .referals-table table {
     min-width: 1500px !important;
   }
 }

 .search-area-controls-container{
   display: flex;
   align-items: center;
 }

 .search-top-center{
   margin-left: 100px;
 }

 .search-input-control{
   min-width: 320px;
 }

 /* SEARCH referal BODY STYLES */
 .search-referal-body, search-referal-body-inner, table{
   min-width: 100%;
 }


 .search-referal-body{
   margin-top: 35px;
 }

 table{
   width: 100%;
 }

 table th, table td{
   color: #043f60;
   background-color: white;
   border-bottom: 0.2px solid rgb(194, 194, 194);
 }


 .status-style-wrapper{
   display: flex;
   max-width: 50px;
   align-items: center;
   justify-content: center;
   padding: 4px 15px;
   margin: 6px 0px !important;
   background-color: #043f60;
   color: white;
   border-radius: 15px;
 }

