/* THE schedule TOP BAR AND MAIN BODY CONTAINER STYLES */
.report-item-container {
  background-color: white;
  height: 100%;
}

.report-item-inner-container {
  padding: 70px 30px 10px 30px;
  background-color: white;
}

.report-top-center{
  display: flex;
}

.report-center-button{
  margin: 0px 5px;
  background-color: transparent !important;
  color: white !important;
}

.report-item-top-container {
  display: flex;
  background-color: #043f60;
  color: white;
  padding: 16px 25px;
  align-items: center;
  justify-content: space-between;
}

.registration-date-container {
  color: whitesmoke;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.month-and-year-container {
  font-weight: 500;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-day-text {
  font-size: 35px;
  font-weight: 500;
}

.date-time-container {
  margin-left: 40px;
}

.date-time-container {
  font-size: 24px;
}

.date-day-container {
  padding-top: 5px;
}


/* register schedule BODY STYLES */
/* SEARCH PATIENT BODY STYLES */
.report-item-body, report-item-body-inner, table{
  min-width: 100%;
}


.report-item-body{
  margin-top: 35px;
}

table{
  width: 100%;
}

table th, table td{
  color: #043f60;
  background-color: white;
  border-bottom: 0.2px solid rgb(194, 194, 194);
}


.status-style-wrapper{
  display: flex;
  max-width: 50px;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  margin: 6px 0px !important;
  background-color: #043f60;
  color: white;
  border-radius: 15px;
}


