.admission-charges-inner-wrapper{
  display: flex;
  flex-direction: column;
  margin: 45px 30px
}

.top-container{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.top-left-container{
  display: flex;
  align-items: start;
  margin-left: 30px;
}

.bill-item-action-button{
  margin: 0px 3px;
  background-color: #043f60;
  color: white !important;
}

.top-right-container{
  margin-left: 10px;
}

.text-container{
  margin-top: 10px;
  margin-left: 20px;
}

.text-container h2{
  font-size: 24px;
}

.all-charges-table{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 30px 0px;
  background-color: white;
  width: 100%;
}

td, th{
  color: #043f60;
  border-bottom: 0.2px solid #efefef;
}

th{
  font-weight: 600;
 }
